# Ignore files, but look through all directories
*
!*/

# Src Files
!*.cpp
!*.hpp
!*.c
!*.h

# Scripts
!*.ps1
!*.sh
!*.bat

# Resource Files
!*.res

# Cmake files
!CMakeLists.txt
!*.cmake
!*.in

# Git
!.git*

# CLion files
.idea/

# Build files
cmake-build-debug/
bin/

# Readme
!README.md