# Ignore files, but look through all directories
*
!*/

# Src Files
!*.cpp
!*.hpp
!*.c
!*.h

# Configuration Files
!*.yaml

# Scripts
!*.ps1
!*.sh
!*.bat

# Resource Files
!*.res

# Cmake files
!CMakeLists.txt
!CMakePresets.json
!scripts/ExampleCMakeUserPresets.json
!*.cmake
!*.in

# Git
!.git*

# CLion files
.idea/

# Build files
bin/

# vcpkg
!scripts/example_vcpkg.json

# Readme
!README.md